@use '../custom' as *;
@use '../utils/mixins';

.header{
    @include mixins.bgImage('../../../build/img/header.jpg', $dark);
    .header__contenido{
        @include border-radius(2rem);
        width: 37.4rem;
        background-color: $white;
    }
    .header__navegacion{
        background-color: $gray-100;
        @include border-radius(5rem);
    }
}