//Colores
$amarillo: #ffd700;
$amarillo-claro: #ffffe8;
$amarillo-oscuro: #816522;
$amarillo-intenso: #fffeba;
$gris: #e9e6e1;

$primary: $amarillo;
$secondary: $amarillo-claro;
$yellow: $amarillo-oscuro;
$gray-100: $gris;

//Fuenetes
$font-size-root: 62.5%;
$headings-font-family: "Sora", sans-serif;
$headings-font-weight: 600;
$font-family-sans-serif: "Sora", sans-serif;
$font-weight-base: 300;
$font-size-base: 1.6rem;

//Espacio
$spacer: 5rem;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';